<div>
    <div class="modal-header">
        <button type="button" class="close" aria-hidden="true" ng-click="cancel()">&times;</button>
        <h4 class="modal-title">User Password Change</h4>
    </div>
    <div class="modal-body">
        Please enter the new password. <br />
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" ng-model="setPassword.NewPassword" />
                    <p class="help-block" ng-if="setPassword.NewPassword && setPassword.NewPassword.length < 6">Passwords must be 6+ characters.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Repeat</label>
                    <input type="password" class="form-control" ng-model="setPassword.ConfirmPassword" />
                    <p class="help-block" ng-if="setPassword.NewPassword && setPassword.NewPassword !== setPassword.ConfirmPassword">Passwords must match</p>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success" ng-click="save()" ng-disabled="!setPassword.NewPassword || setPassword.NewPassword.length < 6 || setPassword.NewPassword !== setPassword.ConfirmPassword">Confirm</button>
        <button type="button" class="btn btn-warning" ng-click="cancel()">Close</button>
    </div>
</div>
