<div class="tasks" ng-controller="TasksController" style="min-height: 500px">
    <section id="tasks">
        <div>
            <div class="projecttitle pull-left" ng-class="{hide: isDefaultProject == true}">{{projectName}}</div>
            <div class="projecttitle pull-right">
                <div class="btn-group">
                    <button type="button" class="btn btn-default" ng-click="addNewTask()"><span class="glyphicon glyphicon-plus"></button>
                    <button type="button" class="btn btn-default disabled"><span class="glyphicon glyphicon-arrow-up"></button>
                    <button type="button" class="btn btn-default disabled"><span class="glyphicon glyphicon-arrow-down"></button>
                    <button type="button" class="btn btn-default disabled"><span class="glyphicon glyphicon-share"></button>
                    <button type="button" class="btn btn-default disabled"><span class="glyphicon glyphicon-trash"></button>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <!--<table>
                    <tr class="taskrow">
                        <td class="check"><input type="checkbox" /></td>
                        <td class="taskname">
                                <span click-to-edit="t.Name"></span>
                        </td>
                        <td class="deadline"></td>
                        <td class="taskProject"></td>
                        <td class="taskoptions">
                            <div class="btn-group">
                                <a href="#"><span class="glyphicon glyphicon-time"></a>
                                <a href="#"><span class="glyphicon glyphicon-chevron-up"></a>
                                <a href="#"><span class="glyphicon glyphicon-chevron-down"></a>
                                <a href="#"><span class="glyphicon glyphicon-share-alt"></a>
                                <a href="#"><span class="glyphicon glyphicon-trash"></a>
                            </div>
                        </td>
                    </tr>
                </table>-->
        <ul class="task-list">
            <li ng-repeat="t in tasks">                
                <div class="taskrow">
                    <div class="task-left"><input type="checkbox" ng-click="selectTask()" /></div>
                    <div class="task-right">
                        <div class="fxac">
                            <div class="task-title"><span ng-class="{selectedtask: t.IsSelected == true}" click-to-edit="t.Name" save-function="saveTask()" cancel-function="cancelTask()" newitem="{{t.IsNew}}"></span></div>
                            <div class="task-deadline"><span>&nbsp;</span></div>
                            <div class="task-project"><span>&nbsp;</span></div>
                            <div class="task-options">
                                <div class="btn-group">
                                    <a ><span class="glyphicon glyphicon-time"></a>
                                    <a ><span class="glyphicon glyphicon-chevron-up"></a>
                                    <a ><span class="glyphicon glyphicon-chevron-down"></a>
                                    <a ><span class="glyphicon glyphicon-share-alt"></a>
                                    <a ng-click="deleteTask()"><span class="glyphicon glyphicon-trash"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </section>
</div>
