<div class="jumbotron">
    <h1>Misconnex API</h1>
    <p class="lead">API Guide for the Misconnex System</p>
    <p><a href="http://www.misconnex.co.uk" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Models</h2>
        <p>Model Definitions</p>
        <p><a class="btn btn-default" href="/Models">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Api</h2>
        <p>Api Guide</p>
        <p><a class="btn btn-default" href="/Help">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Security</h2>
        <p>Advice on authorization</p>
        <p><a class="btn btn-default" href="/Security">Learn more &raquo;</a></p>
    </div>
</div>
